.Rproj.user
.Rhistory
.RData
.Ruserdata
# temp Office files
~$*
# generic outputs
*.output
# project and R artifacts
.Rproj.user
.Rhistory
.RData
.Ruserdata
output/
*.png
*.rds
*.docx
*.html
.DS_Store
analysis
assignment practice_files
assignment-practice_files/figure
